body {
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
  font-weight: 900;

}


p {
  color: #8f8f8f;
}

/* Headings */

.big-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

.section-heading{
  font-size: 3rem;
  line-height: 3rem;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.color-section{
  background-color: #ff4c68;
  color: #fff;

}

.white-section{
  background-color: #fff;


}

#features {

  /* background-color: #fff; */
  position: relative;
  z-index: 1;
}

/* .feature-title{
  font-size: 1.5rem;
} */

/* nav bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  /* color: #ffffff; */
  font-size: 3rem;
  font-weight: bold;
  font-family: "ubuntu"
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* dl Buttons */
.dl-btn {
  margin: 5% 3% 5% 0;
}

/* title section */

#title {
  background-color: #ff4c68;
  /* changed color for all text under the title */
  color: #fff;
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

/* title image */
.iphone-dog {
  width: 60%;
  /* margin-top: 75px; */
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */
.features-box {
  padding: 5%;

}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {

  background-color: #ef8172;

}

.testimonial{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {

}

#press {
  background-color: #ef8172;

  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px
}

/* pricing section*/
#pricing {
  padding: 100px;

}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .iphone-dog {
    position: static;
    text-align: center;
    transform: rotate(0);
  }

  #title {


  }
}

/* Call to action sectoon */
#cta {
  /* background-color: #ff4c68;
  color: #fff; */

  padding: 10%;
}

/* footer section */
#footer {
  background-color: #fff;


}

.social-icons {
  margin: 20px 10px;
}
